<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wellness Tracker</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<!-- Nav Bar -->
<header class="header h-20 flex justify-between py-0">
    <h2>Welcome, <%= user.userName %>!</h2>
    <img class="lheaderImage "src="logo.png" alt="WeRecover">
    <a class="btn" href="/logout"><button>Logout</button></a>
</header>


<body class="bodyStyle text-slate-700">
    
    
    

    <h3 class="flex justify-center items-center">Create New Entry:</h3>
    <div class="cardEntry">
        <form action="/todos/createTodo" method='POST'>

            <div class="flex flex-grow justify-around">
                Did I exercise today?
                <div>
                    <input type="radio" name="exercise" value='true' id="yesBox">
                    <label for="yesBox">Yes</label>
                </div>                     
                <div>
                    <input type="radio" name="exercise" value='false' id="noBox" checked>
                    <label for="noBox">No</label> 
                </div>
            
            </div>

            <div class="flex flex-grow justify-around">
                How many drinks did I have?
                <div>
                    <label for="drinks"></label>
                    <input type="range" name="numOfDrinks" id="drinks" min="0" max="10" step="1" value="0">
                    <output class="drinks-output" for="drinks"></output>
                </div>
            </div>

            <div class="flex flex-grow justify-around">
                How positive was my mood?
                <div>
                    <label for="mood"></label>
                    <input class="slider" type="range" name="mood" id="mood" min="1" max="10" step="1" value="8">
                    <output class="mood-output" for="mood"></output>
                </div>

            </div>

            <div>
                <label for="Journal Entry"></label>
                <textarea class="mw-fit w-full"placeholder="Journal Entry" name='journalEntry' id="textboxid"></textarea>
            </div>
            <div class="flex justify-center py-5">
                <input class="btn flex justify-center items-center" type="submit" value="Add Entry" class="submit">
            </div>

             

        </form>
    </div>
    
    <h3 class="flex justify-center items-center" >My Journal Entries:</h3>
    <div class="cardEntry">
        <ul>
            <% todos.forEach( el => { %>
                <div class="journal-entry">
                    <li class='todoItem' data-id='<%=el._id%>'>

                        <h3 class="font-bold underline"> <%= el.date.toDateString()%> </h3>

                        <div><%= (el.exercise) ? 'Exercised today!' : 'No exercise today.' %></div> <%/* .entry comes from our schema */%>

                        <div><%= el.numOfDrinks > 0 ? `Drank ${el.numOfDrinks} alcoholic beverage(s) today.` : 'Drank no alcohol today!' %></div>

                        <div><%=`I rate my mood at ${el.mood} point(s) out of 10.`%></div>

                        <div>
                            <h4>My Journal Entry:</h3>
                            <span><%= el.entry %></span> <%/* .entry comes from our schema */%>
                        </div>
                        <span class='del'><i class="fa-regular fa-trash-alt"></i></span>
                    </li>
                </div>
            <% }) %>    
        </ul>
    </div>
    <!-- <h2><%= user.userName %> has <%= left %> journal entries.</h2> -->
    



    

    <script src="js/main.js"></script>
    
</body>
</html>